/* กำหนดรูปแบบ grid layout สำหรับแสดงรายการภาพ */
.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: auto;
  margin: 20px;
  background-color: #dcd6d6;
}ห

/* กำหนดขนาดของรูปภาพที่แสดงในรายการ */
.image-list img {
  width: 100px;
  height: auto; 
}

/* กำหนดสไตล์สำหรับปุ่มที่อยู่ตรงกลาง */
.center {
  margin: 40px;
}

.shared{
  background-color: initial;
  background-image: linear-gradient(-180deg, #e09b23, #f29a27);
  border-radius: 6px;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  padding-bottom: 10px;
}

/* กำหนดสไตล์สำหรับปุ่ม */
.button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
  border-radius: 6px;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 10px;
  padding-bottom: 10px;
}

/* กำหนดสไตล์สำหรับปุ่มเมื่อเมาส์ชี้ไปที่ปุ่ม */
.button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

/* กำหนดสไตล์สำหรับ input ชนิด text เมื่อได้รับโฟกัส */
input[type="text"]:focus {
  background-color: lightblue;
}

/* กำหนดสไตล์สำหรับ input ที่ใช้กรอกที่อยู่ที่ต้องการดึงภาพ */
.address {
  display: block;
  margin: auto;
  height: 50px;
  width: 330px;
  text-align: center;
}

.shared-data{
  background-color: lightblue;
  width: auto;
}

.table-container {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

.table-container th, .table-container td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width: 16.67%; /* แบ่งเป็น 6 ส่วนเพื่อให้แสดงแบบเต็มหน้าจอ (100% / 6) */
}

.table-container th {
  background-color: #f2f2f2;
  text-align: center; 
  padding: 15px; 
  width: auto; 
  margin-left: auto;
  margin-right: auto;
}

.table-container tr:hover {
  background-color: #f5f5f5;
}
