.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 100%;  /* ปรับเป็นเปอร์เซ็นต์ของความกว้างที่คุณต้องการ */
  max-width: 1200px;  /* หรือกำหนดเป็นขนาดสูงสุด */
  height: auto;  /* หรือกำหนดความสูงตามที่คุณต้องการ */
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  overflow: hidden;  /* เพื่อป้องกันการเกินขอบเขตของเนื้อหา */
}

.modalContainer {
  display: inline-block;
  text-align: center;
}
.title {
  display: inline-block;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 1px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 1;  /* ปรับเป็น 1 เพื่อให้รับพื้นที่ที่เหลือทั้งหมด */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-align: center;
  overflow-y: auto;  /* เพื่อให้เวลาเนื้อหามีมากเกินไป สามารถเลื่อนได้ */
}

.modalContainer .footer {
  flex: 0.2;  /* ปรับเป็น 0.2 เพื่อให้ความสูงเป็น 20% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 100px;
  height: 35px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
.address {
  display: block;
  margin: auto;
  max-width: 100%;  /* หรือคุณสามารถกำหนดเป็นเปอร์เซ็นต์ของความกว้างที่คุณต้องการ */
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus {
  background-color: lightblue;
}

#selectNumber {
  width: 100%;
  max-width: 90%; 
  height: 40px; /* ปรับตามความต้องการ */
  overflow-y: auto; /* แสดง scrollbar หากข้อมูลเกินความสูงที่กำหนด */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px; /* ปรับตามความต้องการ */
  cursor: pointer; /* แสดงเคอร์เซอร์ในรูปของ pointer เมื่อเลื่อน */
  justify-content: left;
  text-align: left;
}


#selectNumber option {
  text-align: center; /* จัดให้ข้อความอยู่ตรงกลางของ option */
  padding: 8px; /* ปรับขนาด padding ให้มีระยะห่างรอบขอบของ option */
  justify-content: left;
  font-size: 16px; /* ปรับตามความต้องการ */
}

.sliderWrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.slider {
  width: 100%;
  margin: 0 10px;
}

#myForm {
  display: flex;
  align-items: center; /* จัดเลือกตามแนวตั้งกลาง */
}


select#selectNumber {
  flex: 1; /* ทำให้เต็มขนาดตามพื้นที่ที่เหลือ */
  margin-right: 10px; /* ระยะห่างด้านขวา */
}

option.address {
  text-align: left; /* จัดข้อความใน option ชิดซ้าย */
}